<template name="piano">
<div id="p-wrapper">
<ul id="piano">

  <li><div class="anchor key" data-ton="c"></div></li>
  <li>
    <div class="anchor key" data-ton="d"></div>
    <span class="key" data-ton="cs"></span>
  </li>
  <li>
    <div class="anchor key" data-ton="e"></div>
    <span class="key" data-ton="ds"></span>
  </li>
  <li><div class="anchor key" data-ton="f"></div></li>
  <li>
    <div class="anchor key" data-ton="g"></div>
    <span class="key" data-ton="fs"></span>
  </li>
  <li>
    <div class="anchor key" data-ton="a"></div>
    <span class="key" data-ton="gs"></span>
  </li>
  <li>
    <div class="anchor key" data-ton="b"></div>
    <span class="key" data-ton="as"></span>
  </li>


</ul>
</div>
</template>
