<template name="piano">
<div id="p-wrapper">
<ul id="piano">

  <li><div class="anchor key" data-tone="c"></div></li>
  <li>
    <div class="anchor key" data-tone="d"></div>
    <span class="key" data-tone="cs"></span>
  </li>
  <li>
    <div class="anchor key" data-tone="e"></div>
    <span class="key" data-tone="ds"></span>
  </li>
  <li><div class="anchor key" data-tone="f"></div></li>
  <li>
    <div class="anchor key" data-tone="g"></div>
    <span class="key" data-tone="fs"></span>
  </li>
  <li>
    <div class="anchor key" data-tone="a"></div>
    <span class="key" data-tone="gs"></span>
  </li>
  <li>
    <div class="anchor key" data-tone="b"></div>
    <span class="key" data-tone="as"></span>
  </li>


</ul>
</div>
</template>
